<%if !@user.events.any? and !@user.upcoming_events.any? and !@user.previous_events.any? %>
        <div class="cover-container d-flex text-center d-flex align-items-center p-5 mx-auto flex-column">
        <main class="inner-cover">
            <h1 class="cover-heading">Aún no hay eventos.</h1>
            <p class="lead">Vuelve más tarde, ¡también puedes crear tus propios eventos!</p>
        </main>
        </div>
<%else%>
<div class="row">
    <% if @user.events.any?%>
        <div class="col-md">
            <h3>Eventos creados por <%=@user.name%></h3>
            <%= render 'shared/events_feed', events: @user.events %>
        </div>
    <% end %>
    <% if @user.upcoming_events.any?%>
        <div class="col-md">
            <h3>Eventos a los que <%=@user.name%> asistirá</h3>
            <%= render 'shared/events_feed', events: @user.upcoming_events %>
        </div>
    <% end %>
    <% if @user.previous_events.any? %>
        <div class="col-md">
            <h3>Eventos a los que <%=@user.name%> ha asistido</h3>
            <%= render 'shared/events_feed', events: @user.previous_events %>
        </div>
    <% end %>
</div>
<%end%>