<div class="row">
    <div class="col-md">
        <div class="user-dashboard">
            <h1><%= @user.name%></h1>
            <h3>Eventos creados por <%=@user.name%></h3>
            <%= render 'shared/events_feed', events: @user.events %>
            <h3>Eventos asistidos por <%=@user.name%></h3>
            <%= render 'shared/events_feed', events: @user.attended_events %>
        </div>
    </div>
</div>