<div class="card border-primary mb-2">
    <div class="card-header bg-transparent">
        <%= I18n.l(event.start_time, format: :long) %>
    </div>
    <div class="card-body">
        <h5 class="card-title"><%= event.title %></h5>
        <p class="card-text"><%= event.location %></p>
        <div class="d-flex">
            <% if user_signed_in? %>
                <div class="btn-group" role="group">
                    <%= link_to event, class: "btn btn-primary" do %>
                        <i class="fas fa-link"></i>
                    <% end %>
                    <%= link_to edit_event_path(event), class: "btn btn-primary" do %>
                        <i class="fas fa-edit"></i>
                    <% end%>
                    <%= link_to event, method: :delete, data: { confirm: '¿Deseas borrar este evento?' }, class: "btn btn-primary" do %>
                        <i class="fas fa-trash"></i>
                    <% end %>
                </div>
                <%= link_to "Asistir", attendances_path(event_id: event.id), method: :post, class: "btn btn-primary ml-auto" %>
            <% end %>
        </div>

    </div>
</div>