<% @events.each do |event| %>

    <div class="col-md">
        <div class="card border-primary">
            <div class="card-header">
                <%= event.start_time.to_formatted_s(:short) %>
            </div>
            <div class="card-body">
                <h5 class="card-title"><%= event.title %></h5>
                <p class="card-text"><%= event.location %></p>
                <div class="btn-group ml-auto" role="group">
                    <%= link_to event, class: "btn btn-primary" do %>
                        <i class="fas fa-link"></i>
                    <% end %>
                    <%= link_to edit_event_path(event), class: "btn btn-primary" do %>
                        <i class="fas fa-edit"></i>
                    <% end%>
                    <%= link_to event, method: :delete, data: { confirm: '¿Deseas borrar este evento?' }, class: "btn btn-primary" do %>
                        <i class="fas fa-trash"></i>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>